<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/output.css">
    <title>Document</title>
</head>
<body>
    <h1 class="text-red-700">Bonjour</h1>

    <div class="shadow bg-white p-4 rounded-md">
        <h1 class="text-2xl font-bold">salut</h1>
    </div>
</body>
</html>